Playbook/Block-Hub-Device.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "PlaybookName": {
            "defaultValue": "Block-IoT-Device",
            "type": "String"
        },
        "IoTHub_name": {
            "defaultValue": "Provide IoTHub Name",
            "type": "String"
        },
        "SAS_Key": {
            "defaultValue": "Provide SAS Key",
            "type": "String"
        }
    },
    "variables": {
        "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]",
        "S": ".azure-devices.net/devices/@{body('Parse_JSON_2')['IoTHubDevice'][0]}?api-version=2020-05-31-preview",
        "UriLink": "[concat('https://',parameters('IoTHub_name'),variables('S'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureSentinelConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[parameters('PlaybookName')]",
                "customParameterValues": {},
                "parameterValueType": "Alternative",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
            "identity": {
                "type": "SystemAssigned"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_a_response_to_an_Azure_Sentinel_alert_is_triggered": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path": "/subscribe"
                            }
                        }
                    },
                    "actions": {
                        "HTTP": {
                            "runAfter": {
                                "Parse_JSON_2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "body": {
                                    "deviceId": "@{body('Parse_JSON_2')['IoTHubDevice'][0]}",
                                    "status": "disabled",
                                    "statusReason": "Status changed via Azure Sentinel Playbook"
                                },
                                "headers": {
                                    "Authorization": "[parameters('SAS_Key')]",
                                    "if-match": "*"
                                },
                                "method": "PUT",
                                "uri": "[variables('UriLink')]"
                            }
                        },
                        "Parse_JSON": {
                            "runAfter": {},
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@triggerBody()?['ExtendedProperties']",
                                "schema": {
                                    "properties": {
                                        "Alert generation status": {
                                            "type": "string"
                                        },
                                        "Analytic Rule Ids": {
                                            "type": "string"
                                        },
                                        "Analytic Rule Name": {
                                            "type": "string"
                                        },
                                        "Correlation Id": {
                                            "type": "string"
                                        },
                                        "Custom Details": {
                                            "type": "string"
                                        },
                                        "Data Sources": {
                                            "type": "string"
                                        },
                                        "Event Grouping": {
                                            "type": "string"
                                        },
                                        "OriginalQuery": {
                                            "type": "string"
                                        },
                                        "ProcessedBySentinel": {
                                            "type": "string"
                                        },
                                        "Query": {
                                            "type": "string"
                                        },
                                        "Query End Time UTC": {
                                            "type": "string"
                                        },
                                        "Query Period": {
                                            "type": "string"
                                        },
                                        "Query Start Time UTC": {
                                            "type": "string"
                                        },
                                        "Search Query Results Overall Count": {
                                            "type": "string"
                                        },
                                        "Trigger Operator": {
                                            "type": "string"
                                        },
                                        "Trigger Threshold": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "Parse_JSON_2": {
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('Parse_JSON')?['Custom Details']",
                                "schema": {
                                    "properties": {
                                        "D4IoTSensorName": {
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "DestinationMacAddr": {
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "EventTime": {
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "IoTHubDevice": {
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "ProductName": {
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "Protocol": {
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "SourceMacAddr": {
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                                "connectionName": "[variables('AzureSentinelConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    ]
}